Repository CodingTrain/thecodingtrain.com, pull requests merged in 2022-11, with the labels that each got.

#749 Showcase Submission for 113-4d-hypercube-aka-tesseract
  content/videos/challenges/113-4d-hypercube-aka-tesseract/showcase/contribution-1667292871.json
  content/videos/challenges/113-4d-hypercube-aka-tesseract/showcase/contribution-1667292871.png
Labels: showcase

#751 Hacktoberfest Cleanup
  CONTRIBUTING.md
  README.md
Labels: hacktoberfest

#755 Showcase Submission for 173-snake-applesoft-basic
  content/videos/challenges/173-snake-applesoft-basic/showcase/contribution-1667414992.json
  content/videos/challenges/173-snake-applesoft-basic/showcase/contribution-1667414992.png
Labels: showcase

#761 Showcase Submission for 173-snake-applesoft-basic
  content/videos/challenges/173-snake-applesoft-basic/showcase/contribution-1667626747.json
  content/videos/challenges/173-snake-applesoft-basic/showcase/contribution-1667626747.png
Labels: showcase

#759 Adding Side Track: WebSockets and p5js
  content/tracks/side-tracks/web-sockets-and-p5js/index.jpg
  content/tracks/side-tracks/web-sockets-and-p5js/index.json
  content/videos/websockets-node-p5/1-introduction-to-node/index.json
  content/videos/websockets-node-p5/2-using-express-with-node/index.json
  content/videos/websockets-node-p5/3-connecting-client-to-server/index.json
  content/videos/websockets-node-p5/4-shared-drawing-canvas/images/shared-drawing-canvas.png
  content/videos/websockets-node-p5/4-shared-drawing-canvas/index.json
  content/videos/websockets-node-p5/4-shared-drawing-canvas/showcase/contribution1.json
  content/videos/websockets-node-p5/4-shared-drawing-canvas/showcase/contribution1.png
  content/videos/websockets-node-p5/4-shared-drawing-canvas/showcase/contribution2.json
  content/videos/websockets-node-p5/4-shared-drawing-canvas/showcase/contribution2.png
Labels: track

#767 Showcase Submission for 86-cube-wave-by-bees-and-bombs
  content/videos/challenges/86-cube-wave-by-bees-and-bombs/showcase/contribution-1667818802.jpg
  content/videos/challenges/86-cube-wave-by-bees-and-bombs/showcase/contribution-1667818802.json
Labels: showcase

#777 Showcase Submission for 86-cube-wave-by-bees-and-bombs
  content/videos/challenges/86-cube-wave-by-bees-and-bombs/showcase/contribution-1668503304.json
  content/videos/challenges/86-cube-wave-by-bees-and-bombs/showcase/contribution-1668503304.png
Labels: showcase

#780 Showcase Submission for 31-flappy-bird
  content/videos/challenges/31-flappy-bird/showcase/contribution-1668784500.json
  content/videos/challenges/31-flappy-bird/showcase/contribution-1668784500.png
Labels: showcase

#783 Showcase Submission for 1-starfield
  content/videos/challenges/1-starfield/showcase/contribution-1668936828.json
  content/videos/challenges/1-starfield/showcase/contribution-1668936828.png
Labels: showcase

#782 Showcase Submission for 85-the-game-of-life
  content/videos/challenges/85-the-game-of-life/showcase/contribution-1668905611.jpg
  content/videos/challenges/85-the-game-of-life/showcase/contribution-1668905611.json
Labels: showcase

#787 Showcase Submission for 173-snake-applesoft-basic
  content/videos/challenges/173-snake-applesoft-basic/showcase/contribution-1669039100.JPG
  content/videos/challenges/173-snake-applesoft-basic/showcase/contribution-1669039100.json
Labels: showcase

#788 Showcase Submission for 154-tic-tac-toe-minimax
  content/videos/challenges/154-tic-tac-toe-minimax/showcase/contribution-1669289438.json
  content/videos/challenges/154-tic-tac-toe-minimax/showcase/contribution-1669289438.png
Labels: showcase

#797 Showcase Submission for 10-dfs-maze-generator
  content/videos/challenges/10-dfs-maze-generator/showcase/contribution-1669446174.json
  content/videos/challenges/10-dfs-maze-generator/showcase/contribution-1669446174.png
Labels: showcase

#801 Showcase Submission for 54-islamic-star-patterns
  content/videos/challenges/54-islamic-star-patterns/showcase/contribution-1669530254.json
  content/videos/challenges/54-islamic-star-patterns/showcase/contribution-1669530254.png
Labels: showcase

#800 Showcase Submission for 93-double-pendulum
  content/videos/challenges/93-double-pendulum/showcase/contribution-1669489753.json
  content/videos/challenges/93-double-pendulum/showcase/contribution-1669489753.png
Labels: showcase

#804 Showcase Submission for 175-3D-cube-applesoft-basic
  content/videos/challenges/175-3D-cube-applesoft-basic/showcase/contribution-1669691185.json
  content/videos/challenges/175-3D-cube-applesoft-basic/showcase/contribution-1669691185.png
Labels: showcase
