Repository CodingTrain/thecodingtrain.com, pull requests merged in 2024-07, with the labels that each got.

#1597 Showcase Submission for code/2-variables/4-random
  content/videos/code/2-variables/4-random/showcase/contribution-1715442957.jpg
  content/videos/code/2-variables/4-random/showcase/contribution-1715442957.json
Labels: help wanted, showcase, awaiting update

#1601 Showcase Submission for code/3-conditionals/3-else-if-and-or
  content/videos/code/3-conditionals/3-else-if-and-or/showcase/contribution-1716049246.json
  content/videos/code/3-conditionals/3-else-if-and-or/showcase/contribution-1716049246.png
Labels: help wanted, showcase, awaiting update

#1614 Showcase Submission for challenges/180-falling-sand
  content/videos/challenges/180-falling-sand/showcase/contribution-1717550373.json
  content/videos/challenges/180-falling-sand/showcase/contribution-1717550373.png
Labels: showcase

#1617 Showcase Submission for pixels/createCapture
  content/videos/pixels/createCapture/showcase/contribution-1718099171.json
  content/videos/pixels/createCapture/showcase/contribution-1718099171.png
Labels: showcase

#1619 Showcase Submission for challenges/163-bezier-curves
  content/videos/challenges/163-bezier-curves/showcase/contribution-1718208985.json
  content/videos/challenges/163-bezier-curves/showcase/contribution-1718208985.png
Labels: showcase

#1622 Showcase Submission for challenges/181-image-stippling
  content/videos/challenges/181-image-stippling/showcase/contribution-1718452344.jpg
  content/videos/challenges/181-image-stippling/showcase/contribution-1718452344.json
Labels: showcase

#1625 Showcase Submission for noc/2-forces/1-gravity-and-wind
  content/videos/noc/2-forces/1-gravity-and-wind/showcase/contribution-1718635612.json
  content/videos/noc/2-forces/1-gravity-and-wind/showcase/contribution-1718635612.png
Labels: showcase

#1626 Showcase Submission for data/1-client-side/4-json
  content/videos/data/1-client-side/4-json/showcase/contribution-1718649431.json
  content/videos/data/1-client-side/4-json/showcase/contribution-1718649431.png
Labels: showcase

#1628 Showcase Submission for code/1-intro/3-shapes-drawing
  content/videos/code/1-intro/3-shapes-drawing/showcase/contribution-1719053831.json
  content/videos/code/1-intro/3-shapes-drawing/showcase/contribution-1719053831.png
Labels: showcase

#1629 Showcase Submission for noc/3-angles/7-additive-waves
  content/videos/noc/3-angles/7-additive-waves/showcase/contribution-1719068587.json
  content/videos/noc/3-angles/7-additive-waves/showcase/contribution-1719068587.png
Labels: showcase

#1630 Showcase Submission for noc/2-forces/5-gravitational-attraction
  content/videos/noc/2-forces/5-gravitational-attraction/showcase/contribution-1719127397.json
  content/videos/noc/2-forces/5-gravitational-attraction/showcase/contribution-1719127397.png
Labels: showcase

#1633 Showcase Submission for challenges/171-wave-function-collapse
  content/videos/challenges/171-wave-function-collapse/showcase/contribution-1719321750.json
  content/videos/challenges/171-wave-function-collapse/showcase/contribution-1719321750.png
Labels: showcase

#1635 Showcase Submission for challenges/71-minesweeper
  content/videos/challenges/71-minesweeper/showcase/contribution-1719469383.json
  content/videos/challenges/71-minesweeper/showcase/contribution-1719469383.png
Labels: showcase

#1636 Showcase Submission for code/2-variables/4-random
  content/videos/code/2-variables/4-random/showcase/contribution-1719498565.json
  content/videos/code/2-variables/4-random/showcase/contribution-1719498565.png
Labels: showcase

#1637 Showcase Submission for challenges/54-islamic-star-patterns
  content/videos/challenges/54-islamic-star-patterns/showcase/contribution-1719609572.jpg
  content/videos/challenges/54-islamic-star-patterns/showcase/contribution-1719609572.json
Labels: showcase

#1638 Showcase Submission for challenges/183-mathematical-marbling
  content/videos/challenges/183-mathematical-marbling/showcase/contribution-1719747682.json
  content/videos/challenges/183-mathematical-marbling/showcase/contribution-1719747682.png
Labels: showcase

#1640 Showcase Submission for code/2-variables/5-map
  content/videos/code/2-variables/5-map/showcase/contribution-1719881442.json
  content/videos/code/2-variables/5-map/showcase/contribution-1719881442.png
Labels: showcase

#1641 Showcase Submission for challenges/10-dfs-maze-generator
  content/videos/challenges/10-dfs-maze-generator/showcase/contribution-1719932734.json
  content/videos/challenges/10-dfs-maze-generator/showcase/contribution-1719932734.png
Labels: showcase

#1642 Showcase Submission for challenges/138-angry-birds-with-matterjs
  content/videos/challenges/138-angry-birds-with-matterjs/showcase/contribution-1719940881.jpg
  content/videos/challenges/138-angry-birds-with-matterjs/showcase/contribution-1719940881.json
Labels: showcase

#1647 Showcase Submission for challenges/76-10Print
  content/videos/challenges/76-10Print/showcase/contribution-1720264859.jpg
  content/videos/challenges/76-10Print/showcase/contribution-1720264859.json
Labels: showcase

#1654 Showcase Submission for challenges/64-kinematics
  content/videos/challenges/64-kinematics/showcase/contribution-1720756814.json
  content/videos/challenges/64-kinematics/showcase/contribution-1720756814.png
Labels: showcase

#1661 Add the "Collision Detections" category to the latest coding challenge
  content/videos/challenges/184-elastic-collisions/index.json
Labels: content

#1658 Showcase Submission for challenges/100-neuroevolution-flappy-bird
  content/videos/challenges/100-neuroevolution-flappy-bird/showcase/contribution-1720945862.json
  content/videos/challenges/100-neuroevolution-flappy-bird/showcase/contribution-1720945862.png
Labels: showcase

#1659 Showcase Submission for challenges/10-dfs-maze-generator
  content/videos/challenges/10-dfs-maze-generator/showcase/contribution-1720952091.json
  content/videos/challenges/10-dfs-maze-generator/showcase/contribution-1720952091.png
Labels: showcase

#1660 Showcase Submission for challenges/184-elastic-collisions
  content/videos/challenges/184-elastic-collisions/showcase/contribution-1720958474.json
  content/videos/challenges/184-elastic-collisions/showcase/contribution-1720958474.png
Labels: showcase

#1662 Showcase Submission for challenges/184-elastic-collisions
  content/videos/challenges/184-elastic-collisions/showcase/contribution-1720963615.json
  content/videos/challenges/184-elastic-collisions/showcase/contribution-1720963615.png
Labels: showcase

#1663 Showcase Submission for challenges/184-elastic-collisions
  content/videos/challenges/184-elastic-collisions/showcase/contribution-1720971523.json
  content/videos/challenges/184-elastic-collisions/showcase/contribution-1720971523.png
Labels: showcase

#1664 Showcase Submission for challenges/184-elastic-collisions
  content/videos/challenges/184-elastic-collisions/showcase/contribution-1721016798.json
  content/videos/challenges/184-elastic-collisions/showcase/contribution-1721016798.png
Labels: showcase

#1651 Showcase Submission for processing
  content/videos/processing/showcase/contribution-1720547071.json
  content/videos/processing/showcase/contribution-1720547071.png
Labels: showcase, awaiting update
